/* .homepage-actions-section * {
  border: 1px red solid;
} */
.add-proverb-modal .modal-content {
  padding: 3rem;
}

.add-proverb-modal .modal-content #proverb-explanation {
  height: 10rem;
}

.homepage-actions-section .button-custom {
  height: 46px;
}

@media all and (max-width: 450px) {
  .homepage-actions-section .button-custom {
    font-size: 10px;
    padding: 0 10px;
    height: 35px;
  }
  .flexTable-row-container {
    display: flex;
    flex-direction: column;
  }

  .flexTable-row-container .social_media_share {
    order: -1;
  }
}
