.add-proverb-modal .modal-content {
  padding: 3rem;
}

.add-proverb-modal .modal-content #proverb-explanation {
  height: 10rem;
}

.homepage-actions-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: auto;
}
