.update-proverb-modal .modal-content {
  padding: 3rem;
}

.update-proverb-modal .modal-content #proverb-explanation {
  height: 10rem;
}

#proverb-list-flex-table.user-dashboard-flexTable
  .flexTable-row.flexTable-row-approved::before {
  position: absolute;
  bottom: -0.3rem;
  right: -0.5rem;
  content: "";
  background: #000000;
  height: 39px;
  width: 15px;
  transform: rotate(35deg);
}

#proverb-list-flex-table.user-dashboard-flexTable
  .flexTable-row.flexTable-row-approved::after {
  position: absolute;
  font-size: 12px;
  content: "Approved";
  bottom: 0px;
  right: -14px;
  padding: 1px;
  width: 6rem;
  background: #2a2a2a;
  color: white;
  text-align: left;
  box-shadow: 4px 4px 15px rgba(0, 2, 20, 0.5);
}

#proverb-list-flex-table.user-dashboard-flexTable
  .flexTable-row.flexTable-row-pending::after {
  position: absolute;
  font-size: 12px;
  content: "Pending...";
  bottom: 0px;
  right: -14px;
  padding: 1px;
  width: 6rem;
  background: #3949ab;
  color: white;
  text-align: left;
  box-shadow: 4px 4px 15px rgba(0, 2, 20, 0.5);
}
#proverb-list-flex-table.user-dashboard-flexTable
  .flexTable-row.flexTable-row-pending::before {
  position: absolute;
  bottom: -0.3rem;
  right: -0.5rem;
  content: "";
  background: #283593;
  height: 39px;
  width: 15px;
  transform: rotate(35deg);
}

#proverb-list-flex-table.user-dashboard-flexTable
  .flexTable-row.flexTable-row-approved
  .fa-plus {
  display: none;
}

#proverb-list-flex-table.user-dashboard-flexTable
  .flexTable-row.flexTable-row-pending
  .fa-minus {
  display: none;
}
